@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');

html {
    font-family: 'Roboto';
}

header {
    position: relative;
    padding: 20px 20px;
}

.codar {
    color: #D6000D;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    display: inline;
}

span {
    color: #000;
    font-weight: bold;
    font-size: 30px;
}

nav {
    position: relative;
    color: #000;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 0 910px;
}

nav a {
    position: relative;
    color: #000;
    margin: 0 0 0 10px;
}

.login {
    position: relative;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 50px;
    background-color: #D6000D;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
 
 .login:hover {
    background: #D6000D;
    border: solid #D6000D 1px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-decoration: none;
}

img {
    width: 350px;
    height: 350px;
    margin: 0 0 0 0;
}

.section-orcamento{
    position: relative;
    color: #000;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 200 0 0 0x;
}

.orcamento {
    position: relative;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 50px;
    background-color: #D6000D;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
 
.orcamento:hover {
    background: #D6000D;
    border: solid #D6000D 1px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-decoration: none;
}

.ligar {
    position: relative;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 50px;
    background-color: #D6000D;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
 
.ligar:hover {
    background: #D6000D;
    border: solid #D6000D 1px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-decoration: none;
}